* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* ************************* NAV SECTION BEGINS ************************* */
nav {
    height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    box-shadow: 0px 1px 18px 0px #e6e6e6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  .logo {
    height: 50px;
    width: 175px;
    margin: 25px 0px 25px 120px;
    background-image: url(../ASSETS/Website/PragatiHeaderLogo.svg);
    background-repeat: no-repeat;
  }
  
  .Navbar {
    height: 70px;
    width: 540px;
    display: flex;
    flex-wrap: wrap;
    align-self: space-evenly;
    justify-content: space-evenly;
    margin-right: 90px;
  }
  
  .navItems {
    height: 70px;
    width: 70px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
  }
  
  .icon {
    height: 36px;
    width: 36px;
    background-color: yellowgreen;
    border-radius: 50px;
  }
  
  .iconText {
    font-size: 12px;
    font-weight: medium;
    margin-top: 5px;
    color: #636363;
    text-decoration: none;
  }
  
  /* ************************* NAV SECTION ENDS ************************* */
  .spacing{
    height: 130px;
    background-color: ffffff;
    width: 100%;
}

  .spacing2{
    height: 70px;
    background-color: ffffff;
    width: 100%;
}

  .breadcrumbs {
    margin-left: 130px;
  }

  .titleText {
    margin: 10px 0px 20px 540px;
    font-weight: 600;
    color: #4d4d4d;
  }

/* ************************* FIRST SECTION BEGINS ************************* */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* oHide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.linkerr{
  text-decoration: none;
}
.closeButton {
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px 30px;
  width: 130px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ca0000;
  display: flex;
  border: 2px solid #ca0000;
  border-radius: 12px;
  margin: 25px;
  text-decoration: none;
}
.closeButton:hover, .closeButton:focus, .closeButton:active{
  border: 2px solid #ca0000;
  background-color: #ca0000;
  color: white;
}

.nextButton {
  font-size: 18px;
  font-weight: bold;
  background-color: #ffffff;
  padding: 10px 30px;
  width: 120px;
  text-align: center;
  align-self: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #08af40;
  display: flex;
  border: 2px solid #08af40;
  border-radius: 12px;
  margin:25px;
  text-decoration: none;
}

.nextButton:hover, .nextButton:focus, .nextButton:active{
  border: 2px solid #08af40;
  background-color: #08af40;
  color: white;
}

.image{
  border-radius: 20px;
  width: 1000px;
  height: 450px;
}