{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />

    <title>Pragati | Learning Application</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ********************* NAVIGATION STARTS ********************* -->

    <nav>
      <div class="logo"></div>
      <a href="login" class="loginButton">LOGIN</a>
    </nav>
    <!-- ********************* NAVIGATION ENDS ********************* -->

    <div class="spacing"></div>

    {% if message %} {% for m in message %}
    <p>{{ m }}</p>
    {% endfor %} {% endif %}

    <!-- ********************* FIRST PART STARTS ********************* -->

    <div class="Container1">
      <div class="textContainer1">
        <h1 class="Header">Interactive Games & Videos For Learning!</h1>
        <br />
        <p class="header">
          Pragati is an interactive Childrens Learning Application that assists
          children to learn and grow! It is designed for the children between
          ages 3 to 12. Pragati has several wonderful features that allows the
          children to have fun while they are learning. You can use Pragati to
          raise kids better and make learning easier for them.
        </p>
        <br />
        <br />
        <a href="signup" class="mainButton">START NOW</a>
      </div>
      <div class="iconContainer1">
        <div
          class="item"
          id="iconBox1"
          style="
            background-color: #5532a6;
            background-image: url('{% static "/assets/Website/Container1_Icon1.svg" %}');
          "
        ></div>
        <div
          class="item"
          id="iconBox2"
          style="
            background-color: #f8a2ac;
            background-image: url('../ASSETS/Website/Container1_Icon2.svg');
          "
        ></div>
        <div
          class="item"
          id="iconBox3"
          style="
            background-color: #f9d328;
            background-image: url('../ASSETS/Website/Container1_Icon3.svg');
          "
        ></div>
        <div
          class="item"
          id="iconBox4"
          style="
            background-color: #f9d328;
            background-image: url('../ASSETS/Website/Container1_Icon4.svg');
          "
        ></div>
        <div
          class="item"
          id="iconBox5"
          style="
            background-color: #87de5f;
            background-image: url('../ASSETS/Website/Container1_Icon5.svg');
          "
        ></div>
        <div
          class="item"
          id="iconBox6"
          style="
            background-color: #ffa13a;
            background-image: url('../ASSETS/Website/Container1_Icon6.svg');
          "
        ></div>
        <div
          class="item"
          id="iconBox7"
          style="
            background-color: #26bbef;
            background-image: url('../ASSETS/Website/Container1_Icon7.svg');
          "
        ></div>
      </div>
    </div>
    <!-- ********************* FIRST PART ENDS ********************* -->

    <div class="spacing2"></div>

    <!-- ********************* SECOND PART ENDS ********************* -->
    <h1 class="activitiesH1">Our Activities</h1>
    <div class="activityFlex">
      <div class="mainIconBox" id="mainIconBox1" z-index="1">
        <div
          class="iconBox"
          id="secondIconBox1"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-01.svg');
          "
        ></div>
        <p class="activityLabel">Numbers</p>
      </div>
      <div class="mainIconBox" id="mainIconBox2" z-index="2">
        <div
          class="iconBox"
          id="secondIconBox2"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-02.svg');
          "
        ></div>
        <p class="activityLabel">Alphabets</p>
      </div>
      <div class="mainIconBox" id="mainIconBox3" z-index="3">
        <div
          class="iconBox"
          id="secondIconBox3"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-03.svg');
          "
        ></div>
        <p class="activityLabel">Reading</p>
      </div>
      <div class="mainIconBox" id="mainIconBox4" z-index="4">
        <div
          class="iconBox"
          id="secondIconBox4"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-04.svg');
          "
        ></div>
        <p class="activityLabel">Coloring</p>
      </div>
      <div class="mainIconBox" id="mainIconBox5" z-index="5">
        <div
          class="iconBox"
          id="secondIconBox5"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-05.svg');
          "
        ></div>
        <p class="activityLabel">Songs</p>
      </div>
      <div class="mainIconBox" id="mainIconBox6" z-index="6">
        <div
          class="iconBox"
          id="secondIconBox6"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-06.svg');
          "
        ></div>
        <p class="activityLabel">Videos</p>
      </div>
      <div class="mainIconBox" id="mainIconBox7" z-index="7">
        <div
          class="iconBox"
          id="secondIconBox7"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-07.svg');
          "
        ></div>
        <p class="activityLabel">Puzzle</p>
      </div>
      <div class="mainIconBox" id="mainIconBox8" z-index="7">
        <div
          class="iconBox"
          id="secondIconBox8"
          style="
            background-image: url('../ASSETS/Website/Pragati_Web_Icons-08.svg');
          "
        ></div>
        <p class="activityLabel">Subject</p>
      </div>
    </div>
    <!-- ********************* SECOND PART ENDS ********************* -->

    <div class="spacing2"></div>

    <!-- ********************* THIRD PART STARTS ********************* -->
    <div class="Container3">
      <div class="textContainer1">
        <h1 class="Header">Master skills with indepth learning!</h1>
        <br />
        <p class="header">
          Pragati is an interactive Childrens Learning Application that assists
          children to learn and grow! It is designed for the children between
          ages 3 to 12.
        </p>
        <br />
        <p class="header">
          You can use Pragati to raise kids better and make learning easier for
          them.
        </p>
        <br />
        <br />

        <a href="signup" class="mainButton">START NOW</a>
      </div>
      <div class="imageContainer1"></div>
    </div>
    <!-- ********************* THIRD PART ENDS ********************* -->

    <div class="spacing2"></div>

    <!-- ********************* FOURTH PART STARTS ********************* -->
    <h1 class="activitiesH1">Our Reviews</h1>

    <div class="reviewFlex">
      <div class="reviewBox" id="reviewBox1">
        <div class="star"></div>
        <p class="reviewContent">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          commodi non, atque magni aliquam exercitationem quidem enim unde
          perspiciatis laboriosam vel dolorum explicabo eius reiciendis
          blanditiis praesentium ea ipsam velit?
        </p>
        <div class="parent">
          <div class="image"></div>
          <div class="text">
            <h3 class="ParentName">Mr. Prakash Rai</h3>
            <p class="ParentLabel">Parent</p>
          </div>
        </div>
      </div>

      <div class="reviewmomma">
        <div class="reviewBox" id="reviewBox2">
          <div class="star"></div>
          <p class="reviewContent">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="parent">
            <div class="image"></div>
            <div class="text">
              <h3 class="ParentName">Mr. Prakash Rai</h3>
              <p class="ParentLabel">Parent</p>
            </div>
          </div>
        </div>

        <div class="reviewBox" id="reviewBox3">
          <div class="star"></div>
          <p class="reviewContent">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <div class="parent">
            <div class="image"></div>
            <div class="text">
              <h3 class="ParentName">Mr. Prakash Rai</h3>
              <p class="ParentLabel">Parent</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ********************* FOURTH PART ENDS ********************* -->

    <!-- ********************* FOOTER BEGINS ********************* -->
    <footer></footer>
    <!-- ********************* FOOTER ENDS ********************* -->
  </body>
</html>
